<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewBookAdd()">New Book</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search by title or author" aria-label="Search by title or author" aria-describedby="basic-addon2" [(ngModel)]="searchText">
        </div>
      </div>
      <div class="card-body">
        <gook-book-item
          *ngFor="let bookItem of books | filter: searchText; let i = index"
          [book]="bookItem"
          [index]="i">
        </gook-book-item>
      </div>
    </div>
  </div>
</div>
