<section>
  <mat-card 
  [routerLink]="[index]"
  routerLinkActive="active"
  style="cursor: pointer">
    <mat-card-header>
      <mat-card-title><h1>{{ book.title }}</h1></mat-card-title>
      <mat-card-subtitle><h4>{{book.author.firstName}} {{book.author.lastName}}</h4></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ book.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="onEditBook()">Edit book info</button>
      <button mat-raised-button color="warn" (click)="onDeleteBook()">Delete</button>
    </mat-card-actions>
  </mat-card>
</section>