<section>
  <mat-card>
    <mat-card-header>
      <mat-card-title><h2>{{ book.title }}</h2></mat-card-title>
      <mat-card-subtitle><h3>{{book.author.firstName}} {{book.author.lastName}}</h3></mat-card-subtitle>
    </mat-card-header>
    <button mat-icon-button fxHide.gt-xs class="close-btn">
      <mat-icon (click)="onCloseDetails()">close</mat-icon>
    </button>
    <mat-card-content>
      <p>
        {{ book.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="onEditBook()">Edit book info</button>
      <button mat-raised-button color="warn" (click)="onDeleteBook()">Delete</button>
    </mat-card-actions>
  </mat-card>
</section>