<section>
  <mat-card *ngIf="(bookList$ | async) as state; else loading;">
    <gook-book-header
      [book]="state.selectedBook">
    </gook-book-header>
    <button mat-icon-button fxHide.gt-xs class="close-btn">
      <!-- <mat-icon (click)="onCloseDetails()">close</mat-icon> -->
    </button>
    <gook-book-content
      [book]="state.selectedBook">
    </gook-book-content>
    <gook-book-actions
      [bookIndex]="state.selectedBookIndex"
      (edited)="onEditBook($event)"
      (deleted)="onDeleteBook($event)">
    </gook-book-actions>
  </mat-card>

  <ng-template #loading>Fetching books...</ng-template>
</section>