<section>
  <mat-card *ngIf=" (bookList$ | async) as bookListState;">
    <gook-book-details-header
      [book]="bookListState.selectedBook">
    </gook-book-details-header>
    <button mat-icon-button fxHide.gt-xs class="close-btn">
      <!-- <mat-icon (click)="onCloseDetails()">close</mat-icon> -->
    </button>
    <gook-book-details-content
      [book]="bookListState.selectedBook">
    </gook-book-details-content>
    <gook-book-details-actions
      [bookIndex]="bookListState.selectedBookIndex"
      (edited)="onEditBook($event)"
      (deleted)="onDeleteBook($event)">
    </gook-book-details-actions>
  </mat-card>
</section>